---
import { getCollection } from "astro:content";
const posts = await getCollection("projects");
import "../styles/global.css";
import NavBar from "../layouts/NavBar.astro";
import ProjectDisplay from "../components/project-display.astro";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Projects</title>
    <Font cssVariable="--font-clash-display" />
    <ClientRouter />
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.3.23/dist/lenis.css">
    <script>
  import Lenis from "lenis";
  import "lenis/dist/lenis.css";

  let lenis;

  document.addEventListener("astro:page-load", () => {
    // destroy previous instance if navigating back
    if (lenis) {
      lenis.destroy();
    }

    lenis = new Lenis({ autoRaf: true });
  });

  document.addEventListener("astro:before-preparation", () => {
    if (lenis) {
      lenis.destroy();
    }
  });
</script>
  </head>
  <body>
    <NavBar />
    <div id="project-carousel">
      {
          posts.map((post: any) => (
            <ProjectDisplay title=`${post.data.title}` image=`${post.data.heroImage}` slug={post.id.replace(/\.mdx?$/, "")}/>
          ))
        }
    </div>
  </body>
</html>
