@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap");
@import "tailwindcss";
:root {
    background-color: #000000;
}

@theme {
    --font-Montserrat: "Montserrat", "sans-serif";
    --font-Bitcount: "Bitcount", "sans-serif";
}
